p{
    text-align: left;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

#head{
    height: 50px;
    background-color:#444444;
}

#header{
    float: left;
    width: 40%;
    font-family: "Comic Sans MS";
    font-size: 200%;
    margin-left: 5%;

}

#head-link{
    font-family: "Times New Roman";
    float: right;
    width: 30%;
    margin-right: 5%;
}

#head-link ul li a{
   color: white;
    border-radius: 12px;
}

#head-link ul li a:hover{
    background-color: #4cae4c;
}

#intro{
    height: 250px;
    background-color: #d7cebb;
}

#text{
    height: 250px;
    float: left;
    width: 40%;
    padding: 60px;
    margin-left: 30px;
}

#picture{
    height: 250px;
    float:right;
    width: 50%;
    margin-right: 6%;
}

#carousel-example-generic{
    margin-top: 15px;
    margin-left: 30%;
    height: 200px;
    width: 400px;
}

#carousel-example-generic img{
    height: 200px;
    width: 400px;
}

#border{
    height: 30px;
    background-color:#444444;
}

#head-tag{
    height:100px;
    background-color: #fbf5ea;
}

#service{
    width: 110px;
    height: 30px;
    margin-left: 70px;
    margin-top: 25px;
}


#new{
    width: 70px;
    height: 30px;
    margin-top: 25px;
    margin-left: 25%;
}


#blog{
    width: 70px;
    height: 30px;
    margin-top: 25px;
    margin-right: 20%;
}

#main{
    min-height: 330px;
    background-color: #fbf5ea;
}

#left{
    width:28%;
    min-height: 330px;
    float:left;
    background-color: #fbf5ea;
}

#p1{
    width: 350px;
    height: 200px;
    margin-left: 50px;
}

#middle{
    width:44%;
    min-height: 330px;
    float:left;
    background-color: #fbf5ea;
    padding-bottom: 20px;
}

#p2{
    width: 500px;
    min-heightheight: 300px;
    margin-left: 80px;
}

#right{
    width:28%;
    min-height: 330px;
    float:right;
    background-color: #fbf5ea;
}

#right h5{
    height: 25px;
}

#footer{
    height: 150px;
    clear: both;
    background-color: #444444;
}

#footer-left{
    width: 50%;
    float: left;
    height: 150px;
}

#box{
    margin-top: 20px;
    width: 120px;
    height: 100px;
    float: left;
}


#b1{
    width: 100px;
    height: 25px;
    background-color: black;
    margin-top: 20px;
    margin-left: 60px;
}

#box h4{
    color: white;
    float: left;
    margin-top: 5px;
}

#footer-right{
    width: 50%;
    height: 150px;
    float: right;
}

#service-pic{
    width: 175px;
    height: 250px;
}

#service-pic img{
    width: 175px;
    height: 250px;
    border: solid 10px #fbf5ea;
    outline: solid 3px black;
}